-- script by !           Y1idk#4160
-- my server discord ; https://discord.gg/8KHs7CCYBp
-- enjoy

if Game.PlaceId == 3829055572 then
local Library = loadstring(game:HttpGet("https://raw.githubusercontent.com/xHeptc/Kavo-UI-Library/main/source.lua"))()

local Window = Library.CreateLib("Y1idk hub",
"BloodTheme")
    
local main = Window:NewTab("main")
    local player = Window:NewTab("player")
    local owner = Window:NewTab("owner")
    
local mainSection = main:NewSection("main")
    local playerSection = player:NewSection("player")
    local ownerSection = owner:NewSection("owner")

   
mainSection:NewKeybind("show/hide", "show/hide", Enum.KeyCode.F, function()
	Library:ToggleUI()
end)
    
playerSection:NewSlider("walk speed", "walk speed", 250, 16, function(s) 
    game.Players.LocalPlayer.Character.Humanoid.WalkSpeed = s
end)

playerSection:NewSlider("JumpPower", "jumpPower", 500, 50, function(s) 
    game.Players.LocalPlayer.Character.Humanoid.JumpPower = s
        end)



ownerSection:NewButton("Discord Creator Account Name ;!Y1idk#4160 ", "Discord Creator Account Name", function()
    print("Clicked")
end)


end
